<ion-modal-view class=add-view ng-controller=AddTypeCtrl>
  <div class="modal-header theme">
    <span class="cancel" ng-click=$emit('closeAdd',{});>取消</span>
    <span class="modal-title">添加分类</span>
    <span class="modal-plus"><button ng-click=addType();$emit('closeAdd',{}); ng-disabled=!type>确定</button></span>
  </div>
  <ion-content style="top: 44px;">
    <div class="add-text">
      <input type="text" ng-model=$parent.type placeholder="分类名称" />
    </div>
  </ion-content>
</ion-modal-view>
