<ion-modal-view class=add-view ng-controller=AddLocationCtrl>
  <div class="modal-header theme">
    <span class="cancel" ng-click=$emit('closeAdd',{});>取消</span>
    <span class="modal-title">添加位置</span>
    <span class="modal-plus"><button ng-click=addLocation();$emit('closeAdd',{}); ng-disabled=!location>确定</button></span>
  </div>
  <ion-content style="top: 44px;">
    <div class="add-text">
      <input type="text" placeholder="位置名称" ng-model=$parent.location>
    </div>
  </ion-content>
</ion-modal-view>
