<div class="tabs tabs-icon-top" class="bottom-view">
  <a class="tab-item" ng-class="{themeWord:name=='app.home'}" href=#/app/home nav-transition="none">
    <i class="icon ion-document"></i>
    日记
  </a>
  <a class="tab-item" ng-class="{themeWord:name=='app.passing-travellers'}" href=#/app/passing-travellers nav-transition="none">
    <i class="icon ion-ios-list-outline"></i>
    过客
  </a>
  <a class="tab-item" ng-class="{themeWord:name=='app.mine'}" href=#/app/mine nav-transition="none">
    <i class="icon ion-ios-person-outline"></i>
    我的
  </a>
</div>
