<ion-view hide-nav-bar="true" id="diary-view">
  <ion-content>
    <div class="mine-info" ng-if=user.id!=diary.user.id>
      <div class="mine-head"></div>
      <p class="mine-name">{{diary.user.nickName}}</p>
      <p class="mine-words">{{diary.sign}}</p>
    </div>
    <div class="main">
      <div class="main-top">
        <span class="time">{{diary.time|date:'yyyy-MM-dd HH:mm'}}</span>
        <span>{{diary.location.name}}</span>
        <!--<span class="eye"><i class="ion-ios-eye-outline"></i> {{diary.views}}</span>-->
        <span class="loves"><i class="ion-ios-heart-outline"></i> {{diary.loves}}</span>
      </div>
      <div class="main-info">
        <div>分类：{{diary.type.name}}</div>
        <div>标签：{{diary.tag.name}}</div>
      </div>
      <div class="main-mid" ng-bind-html=diary.content>
      </div>
    </div>
    <div class="comments">
      <div class="comments-title themeWord">评论</div>
      <comment-card ng-model=comment ng-repeat="comment in comments"></comment-card>
      <div class="no-comment" ng-if=comments.length==0>暂无评论</div>
    </div>
  </ion-content>
  <div class="comment-input" ng-if=user.id!=diary.user.id><div><input type="text" ng-model=$parent.newComment.content placeholder="老铁，来波评论？" /></div><div><button ng-disabled=!newComment.content ng-click=send();>发送</button></div></div>
  <div class="operates theme" ng-if=user.id!=diary.user.id>
    <div ng-click="$ionicGoBack();"><i class="ion-android-arrow-back"></i></div>
    <div ng-if=!currentLoved><i class="ion-ios-heart-outline" ng-click=doLove();></i></div>
    <div ng-if=currentLoved><i class="ion-ios-heart" ng-click=loved();></i></div>
    <div ng-if=!currentCollected><i class="ion-ios-star-outline" ng-click=doCollect(1);></i></div>
    <div ng-if=currentCollected><i class="ion-ios-star" ng-click=doCollect(0);></i></div>
    <!--<div><i class="ion-android-share-alt"></i></div>-->
    <div><i class="ion-alert-circled"></i></div>
  </div>
  <div class="theme self" ng-if=user.id==diary.user.id>
    <div ng-click="$ionicGoBack();"><i class="ion-android-arrow-back"></i></div>
  </div>
</ion-view>
