<ion-view hide-nav-bar="true" id="home-view">
  <ion-header-bar class="theme home-header">
    <div class="menu-flag"><i class="ion-navicon" menu-toggle="left"></i></div>
    <div class="diaro-search"><i class="ion-ios-search"></i></div>
    <div class="home-title">项目列表</div>
    <div class="write-diaro" xx-href=#/app/write><i class="ion-ios-compose-outline"></i></div>
  </ion-header-bar>
  <div class="first-time">二月,2017</div>
  <ion-content>
    <my-diary ng-model=myDiary ng-repeat="myDiary in myDiaries"></my-diary>
  </ion-content>
  <div ng-include="'templates/bottom-nav.html'"></div>
</ion-view>
