<ion-view hide-nav-bar="true" id="home-view">
  <ion-header-bar class="theme home-header">
    <div class="menu-flag"><i class="ion-navicon" menu-toggle="left"></i></div>
    <div class="diaro-search"><i class="ion-ios-search"></i></div>
    <div class="home-title">项目列表</div>
    <div class="write-diaro" xx-href=#/app/write><i class="ion-ios-compose-outline"></i></div>
  </ion-header-bar>
  <div class="first-time">二月,2017</div>
  <ion-content>
    <div class="diary borderT">
      <div class="diary-info">
        <div class="diary-time">
          <div class="diary-day">周一</div>
          <div class="diary-date">20</div>
          <div class="diary-clock">21:47</div>
        </div>
        <div class="diary-content">
          <div class="diary-title">标题</div>
          <div class="diary-main">正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文</div>
        </div>
      </div>
      <div class="diary-img">
        <img src="img/ionic.png" width="100%"/>
      </div>
      <div class="diary-type">
        <span><i class="ion-ios-folder"></i> Love</span>
        <span><i class="ion-ios-pricetag"></i> 2</span>
        <span><i class="ion-image"></i> 2</span>
        <span><i class="ion-location"></i> 淮安</span>
      </div>
    </div>
    <div class="diary borderT">
      <div class="diary-info">
        <div class="diary-time">
          <div class="diary-day">周一</div>
          <div class="diary-date">20</div>
          <div class="diary-clock">21:47</div>
        </div>
        <div class="diary-content">
          <div class="diary-title">标题</div>
          <div class="diary-main">正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文</div>
        </div>
      </div>
      <div class="diary-img">
        <img src="img/ionic.png" width="100%"/>
      </div>
      <div class="diary-type">
        <span><i class="ion-ios-folder"></i> Love</span>
        <span><i class="ion-ios-pricetag"></i> 2</span>
        <span><i class="ion-image"></i> 2</span>
        <span><i class="ion-location"></i> 淮安</span>
      </div>
    </div>
    <div class="diary borderT">
      <div class="diary-info">
        <div class="diary-time">
          <div class="diary-day">周一</div>
          <div class="diary-date">20</div>
          <div class="diary-clock">21:47</div>
        </div>
        <div class="diary-content">
          <div class="diary-title">标题</div>
          <div class="diary-main">正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文正文</div>
        </div>
      </div>
      <div class="diary-img">
        <img src="img/ionic.png" width="100%"/>
      </div>
      <div class="diary-type">
        <span><i class="ion-ios-folder"></i> Love</span>
        <span><i class="ion-ios-pricetag"></i> 2</span>
        <span><i class="ion-image"></i> 2</span>
        <span><i class="ion-location"></i> 淮安</span>
      </div>
    </div>
  </ion-content>
  <div ng-include="'templates/bottom-nav.html'"></div>
</ion-view>
