<ion-modal-view id=login-view ng-controller=LoginCtrl>
    <ion-content>
        <div class="header">登 录</div>
        <div class="form">
          <div class="logo"><img src="img/diaro_logo.png"/></div>
          <form ng-submit="doLogin();">
            <div class="form-item"><i class="ion-ios-person-outline"></i><input type="number" ng-minlength="11" ng-maxlength="11" ng-model=loginData.userName /></div>
            <div class="form-item"><i class="ion-ios-locked-outline"></i><input type="password" ng-minlength="6" ng-maxlength="16" ng-model=loginData.password /></div>
            <div class="form-item"><button type="submit" ng-disabled=!loginData.userName||!loginData.password >登 录</button></div>
          </form>
        </div>
    </ion-content>
</ion-modal-view>
