<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable theme">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <!--<ion-nav-buttons side="菜单">-->
        <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="菜单">-->
        <!--</button>-->
      <!--</ion-nav-buttons>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="sideMenu">
    <ion-header-bar class="person">
        <div class="person-name">
            <div class="home" xx-href=#/app/home menu-close><i class="ion-ios-home-outline"></i></div>
            <div class="account"><i class="ion-ios-person"></i></div>
            <div class="account-name">{{user.phone}}</div>
            <div class="setting" ng-click="" menu-close><i class="ion-ios-close-outline"></i></div>
        </div>
        <div class="quantity">
            <div class="total">合计: <i class="ion-android-create"></i> 15</div>
            <div class="present">今天: <i class="ion-android-create"></i> 1</div>
        </div>
    </ion-header-bar>
    <ion-content class="menuList">
      <ul class="list">
        <li class="theme">
          <div class="theme-title" ng-click="isSlide(0);">
            <div class="attr-icon"><i class="ion-calendar"></i></div>
            <div class="attr-name"><span><i class="ion-ios-arrow-down"></i></span>日期</div>
          </div>
          <div class="date-wrap theme-list">
            <mb-datepicker element-id='date1'
                           input-class="testClass"
                           input-name="testName"
                           arrows="arrows"
                           calendar-header="header"
                           date="date"
                           date-format="YYYY-MM-DD">
            </mb-datepicker>
            <!--<input  ng-model="date" />-->
          </div>
        </li>
        <li class="theme">
          <div class="theme-title" ng-click="isSlide(1);">
            <div class="attr-icon"><i class="ion-ios-keypad-outline"></i></div>
            <div class="attr-name"><span><i class="ion-ios-arrow-down"></i></span>分类</div>
            <div class="attr-icon plus" ng-click=addType($event); menu-close><i class="ion-ios-plus-empty"></i></div>
          </div>
          <ion-list class="theme-list item-remove-animate item-icon-right">
            <ion-item class="borderC" ng-repeat="type in types">
              <div class="type-title">{{type.name}}</div>
              <ion-option-button class="button" ng-click="remove(type.id)">
                删除
              </ion-option-button>
              <ion-option-button class="button edit" ng-click="remove(chat)">
                编辑
              </ion-option-button>
            </ion-item>
          </ion-list>
        </li>
        <li class="theme">
          <div class="theme-title" ng-click="isSlide(2);">
            <div class="attr-icon"><i class="ion-ios-keypad-outline"></i></div>
            <div class="attr-name"><span><i class="ion-ios-arrow-down"></i></span>标签</div>
            <div class="attr-icon plus" ng-click=addTag($event); menu-close><i class="ion-ios-plus-empty"></i></div>
          </div>
          <ion-list class="theme-list item-remove-animate item-icon-right">
            <ion-item class="borderC" ng-repeat="tag in tags">
              <div class="type-title">{{tag.name}}</div>
              <ion-option-button class="button" ng-click="remove(chat)">
                删除
              </ion-option-button>
              <ion-option-button class="button edit" ng-click="remove(chat)">
                编辑
              </ion-option-button>
            </ion-item>
          </ion-list>
        </li>
        <li class="theme">
          <div class="theme-title" ng-click="isSlide(3);">
            <div class="attr-icon"><i class="ion-ios-keypad-outline"></i></div>
            <div class="attr-name"><span><i class="ion-ios-arrow-down"></i></span>地点</div>
            <div class="attr-icon plus" ng-click=addLocation($event); menu-close><i class="ion-ios-plus-empty"></i></div>
          </div>
          <ion-list class="theme-list item-remove-animate item-icon-right">
            <ion-item class="borderC" ng-repeat="location in locations">
              <div class="type-title">{{location.name}}</div>
              <ion-option-button class="button" ng-click="remove(chat)">
                 删除
              </ion-option-button>
              <ion-option-button class="button edit" ng-click="remove(chat)">
                编辑
              </ion-option-button>
            </ion-item>
          </ion-list>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
