<ion-view hide-nav-bar="true" id=mine-view>
  <ion-content style="bottom: 49px;">
    <div class="mine-info">
      <div class="mine-head" ng-click="showHeadList();"></div>
      <p class="mine-name">赏金猎人的男朋友</p>
      <p class="mine-words">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
    </div>
    <div class="list">
      <div class="item item-divider themeWord">
        账号
      </div>
      <a class="item item-icon-left item-icon-right" href=#/app/data-modify>
        <i class="icon ion-email themeWord"></i>
        资料修改
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href=#/app/collections>
        <i class="icon ion-chatbubble-working themeWord"></i>
        我的收藏
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working themeWord"></i>
        我的隐私
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <div class="item item-divider themeWord">
        其他
      </div>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-mic-a themeWord"></i>
        设置
        <i class="icon ion-ios-arrow-right"></i>
      <!--<span class="item-note"></span>-->
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="showShareList();">
        <i class="icon ion-person-stalker themeWord"></i>
        分享给朋友
        <!--<span class="badge badge-assertive">0</span>-->
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="loginOut">
      <button class="button button-assertive">
        退出登录
      </button>
    </div>
  </ion-content>
  <div ng-include="'templates/bottom-nav.html'"></div>
</ion-view>
