<ion-view hide-nav-bar="true" id=mine-view>
  <div class="mine-info">
    <div class="mine-head"></div>
    <p class="mine-name">徐徐徐丶</p>
    <p class="mine-words">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</p>
  </div>
  <div class="list">
    <div class="item item-divider theme-word">
      账号
    </div>
    <a class="item item-icon-left" href="#">
      <i class="icon ion-email theme-word"></i>
      资料修改
    </a>
    <a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-chatbubble-working theme-word"></i>
      我的收藏
      <i class="icon ion-ios-telephone-outline"></i>
    </a>
    <a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-chatbubble-working theme-word"></i>
      我的隐私
      <i class="icon ion-ios-telephone-outline"></i>
    </a>
    <div class="item item-divider theme-word">
      其他
    </div>
    <a class="item item-icon-left" href="#">
      <i class="icon ion-mic-a theme-word"></i>
      设置
      <span class="item-note">
    </span>
    </a>
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person-stalker theme-word"></i>
      分享给朋友
      <span class="badge badge-assertive">0</span>
    </a>
  </div>
  <div class="loginOut">
    <button class="button button-assertive">
      退出登录
    </button>
  </div>
</ion-view>
