<div class="diary borderT">
  <div class="diary-info">
    <div class="diary-time">
      <div class="diary-day">周一</div>
      <div class="diary-date">20</div>
      <div class="diary-clock">21:47</div>
    </div>
    <div class="diary-content">
      <div class="diary-title">{{ngModel.title}}</div>
      <div class="diary-main" ng-bind-html=ngModel.content></div>
    </div>
  </div>
  <!--<div class="diary-img">-->
    <!--&lt;!&ndash;<img ng-src=ngModel.pictures[0] width="100%"/>&ndash;&gt;-->
  <!--</div>-->
  <div class="diary-type">
    <span><i class="ion-ios-folder"></i> Love</span>
    <span><i class="ion-ios-pricetag"></i> 2</span>
    <span><i class="ion-image"></i> 2</span>
    <span><i class="ion-location"></i> 淮安</span>
  </div>
</div>
