<ion-view hide-nav-bar="true" id="passing-view">
  <ion-header-bar class="theme">
    <div class="title">
      <div class="title-links">
        <a ng-class="{themeWord:index==0,active:index==0}" ng-click="slideTo(0);">最新</a><a ng-class="{themeWord:index==1,active:index==1}" ng-click="slideTo(1);">最热</a><a ng-class="{themeWord:index==2,active:index==2}" ng-click="slideTo(2);">我的</a>
      </div>
    </div>
  </ion-header-bar>
  <ion-content style="bottom: 49px;">
    <ion-slide-box delegate-handle="passingSlide" on-slide-changed="select(index)" show-pager="false">
      <!--最新-->
      <ion-slide>
        <div class="slide-content">
          <diary ng-model=diary ng-repeat="diary in diaries"></diary>
        </div>
      </ion-slide>
      <!--最热-->
      <ion-slide>
        <div class="slide-content">
          <diary ng-model=diary ng-repeat="diary in diaries"></diary>
         </div>
      </ion-slide>
      <!--我的-->
      <ion-slide>
        <div class="slide-content">
          <diary ng-model=diary ng-repeat="diary in diaries"></diary>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div ng-include="'templates/bottom-nav.html'"></div>
</ion-view>
