<ion-view id=settings-view view-title="设置">
  <ion-content>
    <div class="list">
      <a class="item item-icon-right margin" href=#/app/modify-password>
        修改密码
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right" href=#/app/lock>
        隐私/密码锁
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right margin" href=#/app/theme>
        主题
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right margin" href=#/app/feedback>
        意见反馈
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-right" href=#/app/about-us>
        关于我们
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
