<ion-view view-title="写日记" id=write-view>
    <ion-content>
        <div class="time">
            <a><i class="ion-calendar"></i><span contenteditable="true" ng-model=diary.now></span></a>
            <!--<a><i class="ion-clock"></i><span>21:59</span></a>-->
        </div>
      <div class="title"><input ng-model=diary.title type="text" placeholder="输入标题" /></div>
      <div class="content" ng-model=diary.content contenteditable="true"></div>
      <div class="select" ng-click=selectType();>
          <span><i class="ion-ios-folder"></i></span><input type="text" ng-model=diary.type.name readonly placeholder="选择分类">
      </div>
      <div class="select" ng-click=selectTag();>
        <span><i class="ion-ios-pricetag"></i></span><input type="text" ng-model=diary.tag.name readonly placeholder="选择标签">
      </div>
      <div class="select" ng-click=selectLocation();>
        <span><i class="ion-location large"></i></span><input type="text" ng-model=diary.location.name readonly placeholder="选择地点">
      </div>
      <ul>
        <li class="item item-toggle">同步至过客
          <label class="toggle">
            <input ng-model=diary.open type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <div class="save"><button class="theme" ng-click=save();
        ng-disabled=!diary.content||!diary.type||!diary.tag||!diary.location
      >确定</button></div>
    </ion-content>
</ion-view>
