.add-view ion-content{
  background: #ffffff;
}
.add-view .add-text{
  height: 44px;
  padding: 8px 5px;
}
.add-view .add-text input{
  width: 100%;
  height: 100%;
  padding-left: 8px;
  background: #f1f1f1;
}
.add-view button{
  background: none;
  border: none;
  color: #ffffff;
}
.add-view button[disabled]{
  color: #cccccc;
}
