#dataModify-view .user-name , #dataModify-view .user-words{
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 5px;
}
#dataModify-view .modify-name > input , #dataModify-view .modify-words > textarea{
  width: 100%;
  padding: 0 5px;
}
#dataModify-view .modify-words > textarea{
  height: 100px;
  resize: none;
  padding: 5px;
}
button[disabled]{
  color: #cccccc !important;
}

