#home-view .home-header{
  position: relative;
  height: 2.4rem;
}
#home-view .home-header .menu-flag , #home-view .home-header .diaro-search , #home-view .home-header .write-diaro{
  position: absolute;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}
#home-view .home-header .diaro-search{
  font-size: 1.6rem;
  left: 3rem;
}
#home-view .home-header .home-title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  font-size: 1rem;
}
#home-view .home-header .write-diaro{
  right: 0;
  font-size: 1.6rem;
}
#home-view ion-content{
  padding: 45px 5px 5px;
  top: 2.4rem;
  bottom: 49px;
}
#home-view .first-time{
  height: 40px;
  line-height: 40px;
  position: fixed;
  top: 2.4rem;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.9);
  padding-left: 5px;
  z-index: 20;
}


