#login-view ion-content , #register-view ion-content , #forget-view ion-content{
  background: #ffffff;
}
h4{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
}
.input-label{
  width: 30%;
}
.others{
  padding:0 16px;
  background: #ffffff;
}
.others a{
  text-decoration: none;
  color: #444444;
}
.others a:nth-child(2){
  float: right;
}
.login{
  border-bottom: none;
  padding-bottom: 0;
}

#register-view .back , #forget-view .back{
  background: #ffffff;
}
