#modifyPassword-view p{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  color: #dddddd;
  margin-bottom: 0;
}
#modifyPassword-view form input{
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-left: 15px;
  height: 50px;
}
