#notice-view ion-content{
  background: #ffffff;
}
#notice-view .notice{
  padding: 5px;
  border-bottom: 1px solid #cccccc;
}
#notice-view .head{
  height: 30px;
  line-height: 30px;
}
#notice-view i{
  font-size: 12px;
}
#notice-view .head-left{
  float: left;
}
#notice-view .head-right{
  float: right;
}
#notice-view .content{
  padding-left: 13px;
}
