.title-links{
  width: 179px;
  height: 30px;
  border:1px solid #ffffff;
  border-radius: 5px;
  margin: auto;
  margin-top: 7px;
}
.title-links a{
  display: inline-block;
  width: 59px;
  float: left;
  height: 28px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid #ffffff;
}
.title-links a:nth-child(3){
  border-right: none;
}
.title-links a.active{
  background: #ffffff;
}
#passing-view .slider{
  height: 100%;
}
#passing-view .slide-content{
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}
