.title-links{
  width: 179px;
  height: 30px;
  border:1px solid #ffffff;
  border-radius: 5px;
  margin: auto;
  margin-top: 7px;
}
.title-links a{
  display: inline-block;
  width: 59px;
  float: left;
  height: 28px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid #ffffff;
}
.title-links a:nth-child(3){
  border-right: none;
}
.title-links a.active{
  background: #ffffff;
}
#passing-view .slider{
  height: 100%;
}
#passing-view .slide-content{
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}

#passing-view ion-slide:nth-child(1) .d:nth-child(9n+1){
   background: #8e7a91;
 }
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+2){
  background: #7f9da8;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+3){
  background: #b4ca76;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+4){
  background: #bbc8e2;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+5){
  background: #c0b1a5;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+6){
  background: #978cc4;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+7){
  background: #75c99b;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+8){
  background: #b489ca;
}
#passing-view ion-slide:nth-child(1) .d:nth-child(9n+9){
  background: #799081;
}

#passing-view ion-slide:nth-child(2) .d:nth-child(9n+3){
  background: #8e7a91;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+4){
  background: #7f9da8;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+1){
  background: #b4ca76;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+2){
  background: #bbc8e2;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+5){
  background: #c0b1a5;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+7){
  background: #978cc4;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+9){
  background: #75c99b;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+8){
  background: #b489ca;
}
#passing-view ion-slide:nth-child(2) .d:nth-child(9n+6){
  background: #799081;
}

#passing-view ion-slide:nth-child(3) .d:nth-child(9n+9){
  background: #8e7a91;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+8){
  background: #7f9da8;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+7){
  background: #b4ca76;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+6){
  background: #bbc8e2;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+5){
  background: #c0b1a5;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+4){
  background: #978cc4;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+3){
  background: #75c99b;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+2){
  background: #b489ca;
}
#passing-view ion-slide:nth-child(3) .d:nth-child(9n+1){
  background: #799081;
}

