.title-links{
  width: 179px;
  height: 30px;
  border:1px solid #ffffff;
  border-radius: 5px;
  margin: auto;
  margin-top: 7px;
}
.title-links a{
  display: inline-block;
  width: 59px;
  float: left;
  height: 28px;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  border-right: 1px solid #ffffff;
}
.title-links a:nth-child(3){
  border-right: none;
}
.title-links a.active{
  background: #ffffff;
}
#passing-view .slider{
  height: 100%;
}
#passing-view .slide-content{
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}
#passing-view .slide-content .d{
  background: #cccccc;
  color: #ffffff;
  margin-bottom: 5px;
}
#passing-view .slide-content .d .d-head{
  height: 50px;
  line-height: 50px;
  width: 90%;
  margin: auto;
  border-bottom:1px solid #ffffff;
}
#passing-view .slide-content .d .d-head>img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}
#passing-view .slide-content .d .d-content{
  height: 73px;
  width: 90%;
  margin: auto;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
}
#passing-view .slide-content .d .d-info{
  height: 40px;
  line-height: 40px;
}
#passing-view .slide-content .d .d-info .d-time{
  float: left;
  margin-left: 5%;
}
#passing-view .slide-content .d .d-info .d-praise{
  float: right;
  margin-right: 8px;
  font-size: 16px;
}
#passing-view .slide-content .d .d-info .d-praise i {
  margin-left: 5px;
}
