/* Empty. Add your own CSS if you like */
.theme{
  background: lightcoral !important;
  color: #fff !important;
}
.theme-word{
  color: lightcoral !important;
}
ion-content{
  background: #f1f1f1;
}
