#write-view ion-content{
  background: #ffffff;
}
#write-view .time{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #cccccc;
}
#write-view .time>a{
  color: #444;
}
#write-view .time>a:nth-child(1){
  float: left;
  margin-left: 10px;
}
#write-view .time>a:nth-child(2){
  float: right;
  margin-right: 10px;
}
#write-view .time i{
  margin-right: 5px;
}
#write-view .title{
  padding: 5px;
}
#write-view .title>input{
  width: 100%;
  background: #f1f1f1;
  padding-left: 5px;
}
#write-view .content{
  margin: 0 5px 5px 5px;
}
#write-view .content{
  min-height: 100px;
  background: #f1f1f1;
  padding: 8px 5px;
  line-height: 20px;
  resize: none;
  overflow-y: visible;
}
#write-view .select{
  margin: 0px 5px;
  height: 34px;
  line-height: 34px;
  color: #666666;
}
#write-view .select span{
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 34px;
  vertical-align: middle;
  font-size: 12px;
}
#write-view i.large{
  font-size: 16px;
}
#write-view .select input{
  display: inline-block;
  width: 80%;
  background: none;
}
